* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgb(248, 18, 18); */
}

.full-game {
  // background-color: blue;
  display: flex;
  flex-direction: row;
}

.leader-board {
  width: 50vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.point-row {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  // align-self: flex-start;
  // padding-left: 35%;
}

.point-row>p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.point-score {
  width: 8vw;
  text-align: center;
}

div>div>div>div>ul>li>span>label {
  display: none !important;
}

button.ant-btn.css-dev-only-do-not-override-26rdvq.ant-btn-link.ant-btn-sm {
  display: none !important;
}

.ant-spin-container {
  background-color: #fafafa;
  border-radius: 2px;
  padding-bottom: 2px;
}

#root>div.full-game>div.leader-board>div.ant-table-wrapper.css-dev-only-do-not-override-26rdvq>div>div>div>div>div>table>tbody>tr>td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.games1 {
  width: 50vw;
  height: 100vh;
  background-color: #000;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.cont {
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 16px;
  border: solid 2px #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#progressBar {
  width: 75%;
  height: 16px;
  border: 2px solid #444;
  border-radius: 8px;
  overflow: hidden;
}

.timeBar {
  width: 0;
  height: 100%;
  background: #611c;
  border-radius: 8px;
  animation: timeBar linear infinite;
  animation-duration: var(--animate-dur);
}

@keyframes timeBar {
  0% {
    width: 0;
  }

  100% {
    width: 110%
  }
}

#display {
  width: 75%;
  height: 200px;
  border: 20px solid #4445;
  border-radius: 16px;
  background: #0004;
  display: grid;
  place-items: center;
}

#colors {
  font-size: 38px;
  text-transform: uppercase;
  color: rgb(200, 0, 255)
}

.score {
  width: 75%;
  font-size: 22px;
  display: grid;
  place-items: center;
}

#scr {
  font-size: 32px;
  border: 2px solid #2224;
  border-radius: 8px;
  padding: 4px 28px;
  background: #0002;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#righty,
#wrong {
  width: 48px;
  height: 48px;
  background-color: #ebe5e5;
  font-size: 28px;
  border-radius: 50%;
  border: none;
  color: #fafafa;
}

#righty {
  background-color: #146c;
}

.bbbbb {
  margin: 0px !important;
}

#wrong {
  background-color: #b77c;
}

#startButton {
  padding: 4px 8px;
  background-color: #ebe5e5;
  font-size: 20px;
}

.clicked {
  transform: scale(0.8);
  transition-duration: 0.2s;
}

.hard-mode-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hard-mode-container>p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hard-mode {
  padding-top: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hard-mode>button {
  width: 30px;
  height: 30px;
  background-color: #9effa3;
  border-radius: 50%;
  border: none;
}

.hard-mode>button:focus {
  background-color: #9effa3;
}

.leader-board-nickname-div>p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.leader-board-nickname-div>input {
  text-align: center;
  margin: 0;
  padding: 0;
}

#userName:hover {
  background-color: #fff;
  color: #000
}

#root>div.full-game>div.leader-board>div.leader-board-nickname-div,
#userName {
  color: rgb(255, 255, 255);
}